<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PA·DA·WA·N{% endblock %}</title>

    <meta name="description" content="PA·DA·WA·N WebApp">
    <meta name="author" content="@jfcorreas">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/skeleton/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton/skeleton.css">
    <link rel="stylesheet" href="/static/css/padawan.css">

    <link rel="icon" type="image/png" href="/static/images/favicon.ico">

    {% block additional_css %}{% endblock %}
</head>
<body>
    <div class="all-but-footer">
        <header class="section top-menu">
        <div class="container">
            <div class="one-third column">
              <h2 class="top-menu-multiplier">
                <a href="/">PA·DA·WA·N</a>
              </h2>
            </div>
            <div class="two-thirds column">
              <nav>
                <ul>
                {% if user_id %}
                    <li><a href="/account" class="button">Account</a></li>
                {% else %}
                    <li><a href="/account/login" class="button">Login</a></li>
                {% endif %}
                  <li><a href="/about" class="button">About</a></li>
                </ul>
              </nav>
            </div>
        </div>
        </header>

        <div class="container">
        {% block main_content %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="section">
            Aquí van los enlaces al pie
            <div class="copyright">
                Developed by @jfcorreas
            </div>
        </div>
    </footer>

{% block additional_js %}{% endblock %}

</body>
</html>
