{% extends "shared/_layout.html" %}

{% block main_content %}

<div class="section section-heading">
    <h2>Publications</h2>
</div>
<div class="section-description">
    {%  for p in publications %}
    <article>
        <h4>
            {%  if p.short_url %}
                <a href="/{{ p.short_url }}" class="normal_link" target="_self">{{ p.title[:50] }}</a>
            {% else %}
                <a href="/publications/{{ p.id }}" class="normal_link" target="_self">{{ p.title[:50] }}</a>
            {% endif %}
        </h4>
        <span class="aditional_info">Last update: {{ p.updated_date | date_type('delta') }}</span>
        <div class="content-block">
            {{ p.preview[:800] | safe }}
            <br>
            {% if p.preview|length > 800 %}
                {%  if p.short_url %}
                    <a href="/{{ p.short_url }}" class="normal_link" target="_self"> [Read more...]</a>
                {% else %}
                    <a href="/publications/{{ p.id }}" class="normal_link" target="_self"> [Read more...]</a>
                {% endif %}
            {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}