{% extends "shared/_layout.html" %}

{% block main_content %}

<div class="section section-heading">
    <h2>Publications</h2>
</div>
<div class="section-description">
    {%  for p in publications %}
    <article>
        <h4>
            {%  if p.short_url %}
                <a href="/publications/{{ p.id }}" class="normal_link" target="_self">{{ p.title[:50] }}</a>
            {% else %}
                <a href="/{{ p.short_url }}" class="normal_link" target="_self">{{ p.title[:50] }}</a>
            {% endif %}
        </h4>
        <span class="aditional_info">Last update: {{ p.updated_date | date_type('delta') }}</span>
        <div class="content-block">
            {{ p.content[:300] | safe }}
            {% if p.content|length > 300 %}
            ...
                {%  if p.short_url %}
                    <a href="/publications/{{ p.id }}" class="normal_link" target="_self">See more...</a>
                {% else %}
                    <a href="/{{ p.short_url }}" class="normal_link" target="_self">See more...</a>
                {% endif %}
            {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}