/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.normal_link {
  color: darkred;
  text-decoration: none;
}
.normal_link:hover {
  color: indianred;
}
.button{
  border-radius: 10px;
  color: #4f4346;
  border-color: #4f4346;
}
.button.button-primary{
  background-color: #4b6054;
  border-color: #4b6054;
  color: white;
}
.button.button-primary:focus{
  background-color: #4b6054;
  border-color: white;
  border-style: double;
  border-width: 3px;
  line-height: 34px;
}
.button.button-primary:hover {
  background-color: #67766a;
  border-color: #67766a;
}
.all-but-footer {
  min-height: calc(100vh - 83px);
  background: bisque;
}
.main-content {

}
label {
  text-align: left;
}
table {
  display: block;
  overflow-x: auto;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 1rem 0 0;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
  opacity: .8;
  color: #4f4346;
}
.section-multiplier {
  color: #4f4346;
  margin-top: 1.5rem;
}
.section-multiplier a{
  text-decoration:none;
  color:inherit;
}
.section.generic-form {
  max-width: 400px;
  margin: auto;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grogus {
  position: relative;
}
.grogu {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.grogu + .grogu {
  display: none;
}

/* Top-menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-menu {
  background-image: url('../images/mandalorian_head.png');
  background-size: cover ;
  color: #fff;
  padding-bottom: 5rem;
}
.top-menu-multiplier {
  color: bisque;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 1.5rem;
}
.top-menu-multiplier a{
  text-decoration:none;
  color:inherit;
  font-size: 4.2rem;
}
.top-menu-heading {
  margin-bottom: .3rem;
}
.top-menu-description {
  opacity: .8;
  font-weight: 300;
}
header .button {
  padding: 0 10px;
  border: 1px solid white;
  color: white;
}
header .button:hover,
header .button:focus {
  border: 1px solid white;
  background-color: white;
  color: #393033;
}
nav {
  margin-top: 2rem;
}
nav li{
  display:inline-block;
  padding:5px 10px;
  text-align:center;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Error
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.error-msg {
  color: darkred;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-image: url('../images/mandalorian_footer.png');
  background-size: cover;
  color: #fff;
  min-height: 70px;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 3rem 0 2rem;
  }

  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }

  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }

  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }

  .hero-heading {
    font-size: 2.4rem;
  }

  .top-menu {
    text-align: right;
  }

  .top-menu-multiplier a {
    font-size: 2.2rem;
  }
  .all-but-footer {
    min-height: calc(100vh - 122px);
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .section.generic-form {
    max-width: 550px;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .top-menu-multiplier a{
    font-size: 3.2rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .section.generic-form {
    max-width: 800px;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  .top-menu-multiplier a{
    font-size: 4.2rem;
  }
}
