{% extends "shared/_layout.html" %}
{% block title %}PA·DA·WA·N Edit Publication{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/node_modules/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="/static/highlight/github.min.css">
{% endblock %}

{% block main_content %}
    <div class="section section-heading">

        <h2>{{ "Edit" if publication_id else "Add"}} Publication</h2>

        {% if error %}
            <div class="error-msg">{{ error }}</div>
        {% endif %}

        <div class="section generic-form">
            <form action="" method="POST">
                <label for="title">Title</label>
                <input class="u-full-width" type="text"
                       id= "title" name="title"
                       title="Title of the Publication"
                       placeholder="Title of the Publication"
                       value="{{ title }}" required>
                <label for="contents">Content</label>
                <div class="content-block">
                    <textarea class="u-full-width" cols="50" rows="15"
                              id= "contents" name="contents"
                              title="Contents (MarkDown) of the publication"
                              placeholder="Contents (MarkDown) of this publication">{{ content }}</textarea>
                </div>
                <div class="row">
                    <div class="six columns">
                        <label>
                            <input type="checkbox" id="is_snippet" name="is_snippet"
                                   {% if is_snippet %}checked{% endif %}>
                            <span>This publication is a Snippet</span>
                        </label>
                    </div>
                    <div class="six columns">
                        <label for="short_url">Short URL (Optional for publications)</label>
                        <input class="u-full-width" type="text"
                               id= "short_url" name="short_url"
                               title="Short URL"
                               placeholder="The Short URL"
                               value="{{ short_url }}">
                    </div>
                </div>
                <button type="submit" class="button button-primary">
                    {{ "Save" if publication_id else "Create"}}
                </button>
                <a onclick="editor.clearAutosavedValue()" href="/admin/publications" class="button">
                    Cancel
                </a>
            </form>
        </div>
    </div>
{% endblock %}


{% block additional_js %}
    <script src="/static/node_modules/simplemde/dist/simplemde.min.js"></script>
    <script src="/static/highlight/highlight.min.js"></script>
    <!--suppress JSUnresolvedFunction -->
    <script>
        let editor = new SimpleMDE({
            element: document.getElementById("contents"),
            autosave: {
                enabled: true,
            {% if publication_id %}
                uniqueId: 'publication_' + {{ publication_id }} + '-user_' + {{ user_id }},
            {% else %}
                uniqueId: 'publication_new-user_' + {{ user_id }},
            {% endif %}
                delay: 10000
            },
            renderingConfig: {
		    	codeSyntaxHighlighting: true,
	        },
            showIcons: ["code", "table","horizontal-rule"],
            spellChecker: false
        });
    </script>
{% endblock %}

