{% extends "shared/_layout.html" %}
{% block title %}PA·DA·WA·N Edit Redirect{% endblock %}

{% block main_content %}
    <div class="section section-heading">

        <h2>{{ "Edit" if redirect_id else "Add"}} Redirect</h2>

        <div class="section generic-form">
            <form action="" method="POST">
                <input class="u-full-width" type="text"
                       id= "name" name="name"
                       title="Name of the Redirect"
                       placeholder="Name of the Redirect"
                       value="{{ name }}" required>
                <input class="u-full-width" type="text"
                       id= "short_url" name="short_url"
                       title="Short URL"
                       placeholder="Short URL for the Redirect"
                       value="{{ short_url }}" required>
                <input class="u-full-width" type="text"
                       id= "url" name="url"
                       title="URL for the Redirect"
                       placeholder="Destination URL for the Redirect"
                       value="{{ url }}" required>
                <button type="submit" class="button button-primary">
                    {{ "Edit" if redirect_id else "Add"}}
                </button>

                {% if error %}
                    <div class="error-msg">{{ error }}</div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

