{% extends "shared/_layout.html" %}
{% block title %}Don't do that{% endblock %}

{% block main_content %}
    <div class="section error4XX">
        <div class="container">
              <img class="u-max-full-width" src="/static/images/baby-yoda-egg.png" alt="Error 403: Forbidden Resource">
              <img class="u-max-full-width" src="/static/images/this_is_not_the_way.png" alt="Error 403: Forbidden Resource">
              <div>Error 403: Forbidden Resource</div>
        </div>
    </div>

{% endblock %}

{% block additional_css %}
    <!-- this would be css from about.html -->
{% endblock %}