{% extends "shared/_layout.html" %}
{% block title %}Error Young PA·DA·WA·N{% endblock %}

{% block main_content %}
    <div class="section error404">
        <div class="container">
              <img class="u-max-full-width" src="static/images/mandalorian_helmet.png" alt="Error 404: Page not Found">
              <img class="u-max-full-width" src="static/images/this_is_not_the_way.png" alt="Error 404: Page not Found">
              <div>Error 404: page not found</div>
        </div>
    </div>

{% endblock %}

{% block additional_css %}
    <!-- this would be css from about.html -->
{% endblock %}