{% extends "shared/_layout.html" %}
{% block title %}Welcome Young Padawan{% endblock %}

{% block main_content %}
    <div class="section section-heading">
        <h2>Your PA·DA·WA·N Account</h2>

        <div class="section-description">
            Welcome to your account {{ user.name }}!
        </div>
        <a href="/account/logout" class="button button-primary">Disconnect</a>
    </div>
{% endblock %}

{% block additional_css %}
    <!-- this would be css from about.html -->
{% endblock %}