{% extends "shared/_layout.html" %}
{% block title %}Register New Padawan{% endblock %}

{% block main_content %}
    <div class="section account-form">
        <form action="" method="POST">

            <h1>Register new Padawan</h1>

            <input name="name" type="text" placeholder=" Your name" class="u-full-width" value="{{ name }}"
                   required>
            <input name="email" type="email" placeholder=" Your email address" class="u-full-width"
                   value="{{ email }}" required>
            <input name="password" type="password" placeholder=" Password" class="u-full-width"
                   value="{{ password }}" required>
            <input name="password_bis" type="password" placeholder=" Retype Password" class="u-full-width"
                   value="{{ password_bis }}" required>
            <input name="age" type="number" min="18" max="120" class="u-full-width" placeholder=" Your age in years"
                    required>
            <button type="submit" class="button-primary">Register</button>
            <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

