{% extends "shared/_layout.html" %}

{% block main_content %}
<div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">@jfcorreas python assistant data aggregation web application notebook</h4>
          <a class="button button-primary" href="/publications">Publications</a>
        </div>
        <div class="one-half column grogus">
          <img class="grogu" src="/static/images/grogu.png">
          <img class="grogu" src="/static/images/grogu.png">
        </div>
      </div>
    </div>
    <h4></h4>
</div>
{% endblock %}